*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #d2d2d2;
}

.gameScreen{
    position: relative;
    margin: 0 auto;

    width: 557px;
    height: 200px;

    overflow: hidden;

}

.pikachu{
    width: 80px;

    position: absolute;
    bottom: 0px;
    right: 10px;

}

.background{
    position: absolute;
    transform:translateY(-150px);
    width: 700px;

    z-index: -99999;
}

.pokeball{
    position: absolute;
    bottom: 0;

    width: 50px;

    /* animation: pokeballAnimation 1s linear infinite; */
}

.ultraball{
    position: absolute;
    bottom: 12px;
    right: 56px;

    width: 20px;
    /* transform: rotate(0deg); */

    /* animation: pokeballAnimation 1s linear infinite; */
    animation: girar 1250ms linear infinite;

    
}

.jump{
    animation: jump 500ms ease-out;
}

.gameOver{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%,0%);
    font-family: 'Pokemon Hollow' , sans-serif;
    font-size: 20px;
}

.reiniciar{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: none;
    border: none;
}

.reiniciar img{
    width: 30px;
}


@keyframes pokeballAnimation {
    from {
        left: -40px;
    }

    to{
        left: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 60px;
    }

    50%{
        bottom: 60px;
    }

    60%{
        bottom: 60px
    }

    100%{
        bottom: 0;
    }

}

@keyframes girar {
    100%{
        transform: rotate(360deg);
    }
    from {
        left: -40px;
    }

    to{
        left: 100%;
    }
}